

<!--新規投稿・editページの共有-->
<table class="table">
<%= form_with model: [:admin,item] do |f| %>
<thead>
  </thead>
  <tbody>
  <tr>
    <th scope="row">画像</th>
   <td><%= f.file_field :itm_imag_url %></td>
  </tr>
  <tr>
    <th scope="row">商品名</th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <th scope="row">商品説明</th>
    <td><%= f.text_area :text %></td>
  </tr>
   <tr>
    <th scope="row">税込価格</th>
    <td><%= f.text_field :price %></td>
  </tr>
  <tr>
    <th scope="row">販売状況</th>
    <td><%= f.select :is_sales_status, [["販売中","false"], ["販売不可","true"]], include_blank: "--選択してください--" %></td>
  </tr>
  <tr>
    <th scope="row">販売ジャンル</th>
    <td> <%= f.collection_select :genre_id, Genre.all ,:id, :name, include_blank: "--選択してください--" %></td>
  </tr>
  <tr>
    <th scope="row"></th>
    <td>
     <%= f.submit class: "col-xs-2 pull-right btn-lg btn-success "  %>
    </td>
  </tr>

  </tbody>
    
  <% end %>
  </table>