<h1>Item index</h1>
<!--投稿成功時のメッセージ-->
<%= flash[:notice] %>

<table>
  <thead>
    <th center>
<!--newページへのリンク-->
<%= link_to "商品の追加", new_admin_item_path %>
</th>
</thead>

<!--一覧表示-->


<tbody>
  <tr>
    <th>商品ID</th>
    <td>商品名</td>
    <td>税込価格</td>
    <td>ジャンル</td>
    <td>販売状況</td>
  </tr>
  <% @items.each do |item| %>
  <tr>
    <!--showページへのリンク-->
    <th><%= item.id %></th>
    <td>
      <%=link_to admin_item_path(item.id) do %>
      <%= item.name %>
      <% end %>
    </td>
    <td><%= item.price %></td>
    <td>
      <% if item.is_sales_status == false %>
        販売中
      <% else %>
        販売停止中
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>