<div class="order-index">
  <div class="container">

    <div class="row mt-5">
      <div class="order-text col-sm-12 px-sm-0" style="margin-bottom:15px;">
        <h4><b>注文履歴一覧</b></h4>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12 px-sm-0">
        <table class="table table-bordered">

          <thead class="thead-light">
            <tr>
              <th class="col-md-2">注文日</th>
              <th class="col-md-3">配送先</th>
              <th class="col-md-2">注文商品</th>
              <th class="col-md-2">支払い金額</th>
              <th class="col-md-2">ステータス</th>
              <th class"col-md-1">注文詳細</th>
            </tr>
          </thead>

          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.created_at.strftime('%Y年/%m月/%d日') %></td>
                <td>
                  〒<%= order.post_code %><br>
                  <%= order.address %><br>
                  <%= order.name %> 様
                </td>
                <td>
                  <% order.order_details.each do |order_detail| %>
                    <%= order_detail.item.item_name %>
                    <br>
                  <% end %>
                </td>
                <td><%= order.total_cost %>円</td>
                <td><%= order.order_status_i18n %></td>
                <td>
                  <%= link_to "表示する", order_path(order.id), class: "btn btn-success" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @orders %>
      </div>
    </div>

  </div>
</div>
