<div class="container">
  <div class="row mb-3">
    <h4 class="col-4 mr-5 mt-5"><b>注文情報入力</b></h4>
  </div>
  <%= form_with model: @order, url: orders_confirm_path, local:true do |f| %>
  <div class= "payment">
    <div class="col-2 col-form-label"><b>支払方法</b></div>
    <div class="col-10 form-group">
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>
      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
    </div>
  </div>
  <div class= "delivery">
    <div class="col-2 col-form-label"><b>お届け先</b></div>
    <div class="col-10 form-group">
      <%= f.radio_button :select_address, 0, {:checked => true} %>
      <%= f.label :customer_address, 'ご自身の住所' %><br>
      〒<%= current_customer.post_code %>
      <%= current_customer.address %><br>
      <%= current_customer.last_name %><%= current_customer.first_name %>
    </div>
    <div class="col-10 form-group">
      <%= f.radio_button :select_address, 1 %>
      <%= f.label :record_address, '登録済住所から選択' %><br>
      <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address) %>
    </div>
    <div class="col-10 form-group">
      <%= f.radio_button :select_address, 2 %>
      <b><%= f.label :new_address, '新しいお届け先' %></b>
    </div>
    <div class="row mb-3">
      <div class="col-3 mx-4"><%= f.label :post_code, '郵便番号(ハイフンなし)' %></div>
      <div class="col-3"><%= f.text_field :post_code, class: 'form-control', placeholder: '0000000' %></div>
    </div>
    <div class="row mb-3">
      <div class="col-3 mx-4"><%= f.label :address, '住所' %></div>
      <div class="col-7"><%= f.text_field :address, class: 'form-control', placeholder: '東京都渋谷区代々木神園町０−０' %></div>
    </div>
    <div class="row mb-3">
      <div class="col-3 mx-4"><%= f.label :name, '宛名' %></div>
      <div class="col-3"><%= f.text_field :name, class: 'form-control', placeholder: '令和道子' %></div>
    </div>
    <div class="row">
      <div class="col-3 mx-3"></div>
      <div class="col-4 text-center" style="margin-bottom:25px;"><%= f.submit '確認画面へ進む', class: 'btn btn-primary' %></div>
    </div>
  <% end %>
  </div>
</div>